<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-x-twitter"></i>

        </div>
        <div class="f-info-brand f-info-owner">
            &copy; 2025 developed by Priyanshiunique. All rights reserved.
        </div>
        <div class="f-info-links">
            <a href="/privacy"> Privacy </a> &nbsp;
            <a href="/terms"> Terms</a>
        </div>
    </div>
</footer>